.action-sheet {
  background: rgba(0, 0, 0, 0.7);
  @extend .fill-container;

  .container {
    background: light-color;
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    padding: .5em;
    position: absolute;
    width: 100%;

    button {
      display: block;
      padding-top: .5em;
      padding-bottom: .5em;
      width: 100%;
    }

    .confirm {
      buttonize-background(error-color);
    }

    .cancel {
      buttonize-background(neutral-color);
      margin-top: .5em;
    }
  }

  &-enter,
  &-leave {
    &,
    & .container {
      transition: all .25s ease;
    }
  }

  &-enter {
    opacity: 0.01;

    .container {
      bottom: -200px;
    }
  }

  &-enter-active,
  &-leave {
    opacity: 1;

    .container {
      bottom: 0;
    }
  }

  &-leave-active {
    opacity: 0.01;

    .container {
      bottom: -200px;
    }
  }

}
