.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.fill-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.icon-button {
  display: inline-block;
  outline: none;
  height: unit;
  line-height: unit;
  padding: 0;
  text-align: center;
  width: unit;

  i {
    font-size: 1.2em;
  }
}
