buttonize-background(color) {
  background: color;

  &:hover,
  &:focus,
  &:active {
    background: darken(color, 20%);
  }
}

buttonize-color(color) {
  color: color;

  &:hover,
  &:focus,
  &:active {
    color: darken(color, 20%);
  }
}
