header {
  background: primary-color;
  box-sizing: border-box;
  height: unit;
  line-height: unit;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  h1 {
    color: light-color;
    @extend .fill-container;
    line-height: unit;
    text-align: center;
  }

  button {
    buttonize-color(light-color);
    @extend .icon-button;
    position: absolute;
  }
}

.lists,
.items {
  background: light-color;
  bottom: 0;
  position: absolute;
  top: 0;
  transition: all .35s ease-out;
  width: 100%;

  ul {
    @extend .fill-container;
    bottom: unit;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    top: unit;
  }

  li {
    border-top: solid 1px #e3e3e3;

    .remove {
      buttonize-background(error-color);
    }

    &:first-child {
      border-top: none;
    }
  }
}

.lists {
  left: 0;
}

.items {
  left: 100%;
}

.list,
.item {
  .sort-handle {
    color: #b7b7b7;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    display: inline-block;
    height: unit;
    line-height: unit;
    position: absolute;
    text-align: center;
    top: -(unit);
    transition: all .25s ease;
    width: unit;
  }

  .editing &,
  &.gu-mirror {
    .sort-handle {
      top: 0;
    }
  }

  &.editing {
    .sort-handle {
      top: -(unit);
    }
  }

  .name {
    box-sizing: border-box;
    display: block;
    height: unit;
    text-overflow: ellipsis;
  }

  &.gu-transit {
    background: darken(light-color, 5%);
    opacity: 0.4;
  }

  &.gu-mirror {
    background: light-color;
    border: solid 1px darken(light-color, 20%);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 9999;

    .options {
      display: none;
    }
  }
}

.showing-items {
  .lists {
    left: -100%;
  }

  .items {
    left: 0;
  }
}

@media screen and (min-width: 550px) {
  .app {
    display: -webkit-flex;
    display: flex;
  }

  list-width = 250px;

  .showing-items .lists,
  .lists {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    left: 0;
    position: relative;
    width: list-width;

    footer {
      width: list-width;
    }

    li.is-selected {
      background: darken(light-color, 5%);
    }

    header button {
      display: none;
    }
  }

  .showing-items .items,
  .items {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    left: 0;
    position: relative;

    header {
      display: none;
    }
  }

  .list,
  .item {
    .sort-handle {
      top: 0;
    }
  }

  .list {
    span.name {
      padding-left: unit;
    }

    &.showing-options .sort-handle  {
      top: -(unit);
    }
  }

  .item {
    .toggle-checked {
      left: unit;
    }

    .name {
      padding-left: unit * 2
    }
  }

}

footer {
  background: light-color;
  border-top: solid 1px primary-color;
  bottom: 0;
  box-sizing: border-box;
  height: unit;
  position: fixed;
  width: 100%;

  button {
    buttonize-color(primary-color);
    @extend .icon-button;
    position: relative;
    width: unit + 1;

    span {
      bottom: 0.5em;
      font-size: 0.7em;
      left: 0;
      line-height: 1;
      position: absolute;
      text-align: center;
      width: 100%;

      + i {
        position: relative;
        top: -0.4em;
      }
    }
  }
}
