header {
  background: light-color;
  border-bottom: solid 1px primary-color;
  box-sizing: border-box;
  color: primary-color;
  height: unit;
  line-height: unit;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  h1 {
    @extend .fill-container;
    line-height: unit;
    text-align: center;
  }

  button {
    buttonize-color(primary-color);
    @extend .icon-button;
    position: absolute;
  }
}

.lists,
.items {
  background: light-color;
  bottom: 0;
  position: absolute;
  top: 0;
  transition: all .35s ease-out;
  width: 100%;

  ul {
    bottom: unit;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: unit;
    width: 100%;
  }

  li {
    border-top: solid 1px #e3e3e3;

    .remove {
      buttonize-background(error-color);
    }

    &:first-child {
      border-top: none;
    }
  }
}

.lists {
  left: 0;

  ul {
    bottom: 0;
  }
}

.items {
  left: 100%;
}

.showing-items {
  .lists {
    left: -100%;
  }

  .items {
    left: 0;
  }
}

footer {
  background: light-color;
  border-top: solid 1px primary-color;
  bottom: 0;
  box-sizing: border-box;
  height: unit;
  position: fixed;
  width: 100%;

  button {
    buttonize-color(primary-color);
    @extend .icon-button;
  }
}
