header {
  background: primary-color;
  color: light-color;
  height: unit;
  line-height: unit;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  h1 {
    @extend .fill-container;
    line-height: unit;
    text-align: center;
  }

  button {
    @extend .icon-button;
    position: absolute;
  }
}

.lists,
.items {
  background: light-color;
  bottom: 0;
  position: absolute;
  top: 0;
  transition: all .25s ease-out;
  width: 100%;

  ul {
    bottom: unit;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: unit;
    width: 100%;
  }

  li {
    border-top: solid 1px #e3e3e3;

    &:first-child {
      border-top: none;
    }
  }
}

.lists {
  left: 0;

  ul {
    bottom: 0;
  }
}

.items {
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.4);
  left: 100%;
}

.showing-items {
  .items {
    left: 0;
  }
}

footer {
  background: light-color;
  border-top: solid 1px #b7b7b7;
  bottom: 0;
  box-sizing: border-box;
  height: unit;
  position: fixed;
  width: 100%;

  button {
    buttonize-color(neutral-color);
    @extend .icon-button;
  }
}
