.lists {
  .logout {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.lists li {
  options(1);

  owner-width = unit * 3;

  &.is-owner .options {
    right: -(owner-width - unit);
    width: owner-width;
  }

  &.is-owner.showing-options {
    .name {
      padding-right: owner-width + 1em;
    }

    .options {
      right: 0;
      width: owner-width + .5em;
    }
  }

  .shared-indicator {
    color: primary-color;
    display: none;
    position: absolute;
    left: -.8em;
    top: .8em;
  }

  &.showing-options.shared .shared-indicator {
    display: block;
  }

  .name {
    padding: .2em unit .2em .7em;
  }

  span.name {
    cursor: pointer;
    line-height: unit - .4em;

    &:hover,
    &:focus {
      background: darken(light-color, 5%);
    }
  }

  input.name {
    border: solid primary-color 0;
    border-radius: 0;
    line-height: 1;
    outline: none;
    text-overflow: ellipsis;
    transition: all .25s ease;
    width: 100%;

    &:focus {
      border-width: .2em;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: .5em;
    }
  }

  / .lists li .options .toggle-shared {
    buttonize-background(neutral-color);
    display: none;
  }

  &.is-owner .toggle-shared {
    display: inline-block;
  }
}
