.lists {
  .logout {
    align-self: flex-end;
  }
}

.list-container {
  display: block;
  overflow: hidden;
  position: relative;

  .name {
    border: solid transparent 0.2em;
    cursor: pointer;
    line-height: $unit - 0.4em;
    overflow: hidden;
    padding: 0 ($unit - 0.2em) 0 0.5em;
    text-overflow: ellipsis;
    transition: all .25s ease;

    &:hover,
    &:focus {
      background: darken($light-color, 5%);
    }

    .is-dragging &:hover {
      background: none;
    }
  }


  .is-sorting &,
  .sorting-helper & {
    .name {
      padding-left: $unit;
    }
  }

  .indicators {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    height: 100%;
    justify-content: center;
    position: absolute;
    right: $unit - 0.4em;
    top: 0;

    i {
      color: lighten($neutral-color, 10%);
      display: none;
      font-size: 0.8em;
      margin: 0.3em;
    }
  }

  .is-shared & .is-shared-indicator,
  .is-private & .is-private-indicator {
    display: block;
  }

  .is-sorting .is-shared & .is-shared-indicator,
  .is-sorting .is-private & .is-private-indicator {
    display: none;
  }

  .edit-list {
    @include buttonize-color(#b7b7b7);
    @extend .icon-button;
    position: absolute;
    right: 0;
    top: 0;

    i {
      transition: all .25s ease;
    }
  }
}

.list-editor {
  fieldset {
    padding: 0.6em 0.6em 0.1em;
  }

  input {
    box-sizing: border-box;
    margin-bottom: 0.6em;
    padding: 0.6em 0.8em;
    width: 100%;

    &:focus {
      outline: solid 3px $primary-color;
    }
  }

  .list-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    button {
      margin: 0.4em 2%;
      width: 46%;
    }

    i {
      margin-right: 0.4em;
    }
  }

  .toggle-shared {
    @include buttonize-background($shared-color);
  }

  .toggle-is-private {
    @include buttonize-background($private-color);
  }

  .remove {
    @include buttonize-background($error-color);
    display: none;
  }

  .is-owner .remove {
    display: block;
  }

  .actions {
    background: #e3e3e3;
    border-top: solid 1px #c7c7c7;
    padding: 0.4em;

    button {
      @include buttonize-background($action-color);
    }
  }
}
