.lists {
  .logout {
    align-self: flex-end;
  }
}

.list {
  @include options(2);

  $owner-width: $unit * 4;

  &.is-owner .options {
    right: -($owner-width - $unit);
    width: $owner-width;
  }

  &.is-owner.showing-options {
    .name {
      padding-right: $owner-width;
    }

    .options {
      right: 0;
      width: $owner-width + .5em;
    }
  }

  .is-sorting &.is-owner .options {
    right: -($owner-width);
  }

  .indicators {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    height: 100%;
    justify-content: center;
    position: absolute;
    left: -0.8em;
    top: 0;

    i {
      display: none;
      font-size: 0.8em;
      margin: 0.3em;
    }

    .shared-indicator {
      color: $shared-color;
    }

    .is-private-indicator {
      color: $private-color;
    }
  }

  &.showing-options.shared .shared-indicator,
  &.showing-options.is-private .is-private-indicator {
    display: block;
  }

  .is-sorting &.showing-options.shared .shared-indicator,
  .is-sorting &.showing-options.is-private .is-private-indicator {
    display: none;
  }

  .name {
    border: solid transparent 0.2em;
    cursor: pointer;
    line-height: $unit - 0.4em;
    overflow: hidden;
    padding: 0 ($unit - 0.2em) 0 0.5em;
    text-overflow: ellipsis;
    transition: all .25s ease;

    &:hover,
    &:focus {
      background: darken($light-color, 5%);
    }
  }

  .name input {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    text-overflow: ellipsis;
    width: 100%;

    &:focus {
      border-color: $primary-color;
    }
  }

  .is-sorting &,
  &.gu-mirror {
    .name {
      padding-left: $unit;
    }
  }

  &.showing-options .name {
    cursor: default;
    padding-left: 0.5em;

    &:hover,
    &:focus {
      background: none;
    }
  }

  .toggle-shared {
    @include buttonize-background($shared-color);
    display: none;
  }

  .toggle-is-private {
    @include buttonize-background($private-color);
  }

  .options .remove {
    display: none;
  }

  &.is-owner .options .remove {
    display: inline-block;
  }
}
