.lists li {
  box-sizing: border-box;
  cursor: pointer;
  height: unit;
  line-height: unit;
  padding: 0 .7em;

  &:hover,
  &:focus,
  &:active {
    background: darken(light-color, 10%);
    color: action-color;
  }
}
