.lists {
  .logout {
    align-self: flex-end;
  }
}

.list {
  @include options(1);

  $owner-width: $unit * 3;

  &.is-owner .options {
    right: -($owner-width - $unit);
    width: $owner-width;
  }

  &.is-owner.showing-options {
    .name {
      padding-right: $owner-width + 1em;
    }

    .options {
      right: 0;
      width: $owner-width + .5em;
    }
  }

  .is-sorting &.is-owner .options {
    right: -($owner-width);
  }

  .shared-indicator {
    color: $primary-color;
    display: none;
    position: absolute;
    left: -.8em;
    top: .8em;
  }

  &.showing-options.shared .shared-indicator {
    display: block;
  }

  .is-sorting &.showing-options.shared .shared-indicator {
    display: none;
  }

  .name {
    border: solid transparent 0.2em;
    line-height: $unit - 0.4em;
    padding: 0 ($unit - 0.2em) 0 0.5em;
    transition: all .25s ease;
  }

  span.name {
    cursor: pointer;

    &:hover,
    &:focus {
      background: darken($light-color, 5%);
    }
  }

  input.name {
    border-radius: 0;
    outline: none;
    text-overflow: ellipsis;
    width: 100%;

    &:focus {
      border-color: $primary-color;
    }
  }

  .is-sorting &,
  &.gu-mirror {
    .name {
      padding-left: $unit;
    }
  }

  .toggle-shared {
    @include buttonize-background($neutral-color);
    display: none;
  }

  &.is-owner .toggle-shared {
    display: inline-block;
  }
}
