.modal {
  background: rgba(0, 0, 0, 0.7);
  @extend .fill-container;
  opacity: 0.01;
  overflow: hidden;
  transition: all .35s ease;
  z-index: -1;

  &.modal-showing {
    opacity: 1;
    z-index: 100;
  }
}

.action-sheet {
  .container {
    background: light-color;
    bottom: -200px;
    box-sizing: border-box;
    left: 0;
    padding: .5em;
    position: absolute;
    transition: all .35s ease;
    width: 100%;

    button {
      display: block;
      padding-top: .5em;
      padding-bottom: .5em;
      width: 100%;
    }

    .confirm {
      buttonize-background(error-color);
    }

    .cancel {
      buttonize-background(neutral-color);
      margin-top: .5em;
    }
  }

  &.modal-showing .container {
    bottom: 0;
  }
}

@media screen and (min-width: 550px) {
  .action-sheet {
    .container {
      bottom: auto;
      left: 50%;
      margin-left: -150px;
      margin-top: -50px;
      top: -200px;
      width: 300px;
    }

    &.modal-showing .container {
      bottom: auto;
      top: 50%;
    }
  }
}
