header {
  background: primary-color;
  color: light-color;
  height: 2.4em;
  left: 0;
  line-height: 2.4em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  h1 {
    fill-container();
    line-height: 2.4em;
    text-align: center;
  }

  button {
    display: none;
    height: 2.4em;
    line-height: 2.4em;
    padding: 0;
    position: absolute;
    width: 2.4em;
  }
}

.lists,
.items {
  bottom: 2.4em;
  position: absolute;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  top: 2.4em;
  transition: all .5s ease;
  width: 100%;

  li {
    border-top: solid 1px #e3e3e3;

    &:first-child {
      border-top: none;
    }
  }
}

.lists {
  left: 0;
}

.items {
  left: 100%;
}

.showing-items {
  .lists {
    left: -100%;
  }

  .items {
    left: 0;
  }
}
