header {
  background: primary-color;
  color: light-color;
  height: 2.4em;
  line-height: 2.4em;
  position: fixed;
  top: 0;
  width: 100%;

  h1 {
    fill-container();
    line-height: 2.4em;
    text-align: center;
  }

  button {
    height: 2.4em;
    line-height: 2.4em;
    padding: 0;
    position: absolute;
    width: 2.4em;
  }
}

.lists,
.items {
  background: light-color;
  bottom: 0;
  position: absolute;
  top: 0;
  transition: all .5s ease;
  width: 100%;

  ul {
    bottom: 2.4em;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 2.4em;
    width: 100%;
  }

  li {
    border-top: solid 1px #e3e3e3;

    &:first-child {
      border-top: none;
    }
  }
}

.lists {
  left: 0;

  ul {
    bottom: 0;
  }
}

.items {
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.4);
  left: 85%;
}

.showing-items {
  .items {
    left: 0;
  }
}

footer {
  background: light-color;
  border-top: solid 1px #b7b7b7;
  bottom: 0;
  box-sizing: border-box;
  height: 2.4em;
  position: fixed;
  width: 100%;

  button {
    buttonize-color(neutral-color);
    display: inline-block;
    height: 2.4em;
    line-height: 2.4em;
    padding: 0;
    width: 2.4em;
  }
}
