.lists,
.items {
  li {
    border-top: solid 1px #e3e3e3;
    padding: .5em .7em;

    &:first-child {
      border-top: none;
    }

    &:hover,
    &:focus,
    &:active {
      color: primary-color;
    }
  }
}


