.app {
  header {
    background: primary-color;
    color: light-color;
    height: 2.4em;
    line-height: 2.4em;
    position: relative;

    h1 {
      fill-container();
      line-height: 2.4em;
      text-align: center;
    }

    button {
      height: 2.4em;
      line-height: 2.4em;
      padding: 0;
      position: absolute;
      width: 2.4em;
    }
  }
}
