.login {
  .container {
    margin: 0 auto;
    max-width: 350px;
  }
}

.login,
.auth-settings {
  .error {
    color: $error-color;
    font-size: .8em;
    margin: 1em .5em;
  }

  fieldset {
    margin: .5em;

    &:first-child {
      margin-top: 1em;
    }
  }

  label {
    display: block;
    margin-bottom: .25em;
  }

  input {
    box-sizing: border-box;
    width: 100%;

    &:focus {
      outline: solid 3px $primary-color;
    }
  }

  form {
    button,
    span {
      @include buttonize-background($action-color, true);
      border-radius: 3px;
      color: $light-color;
      margin-top: .5em;
      padding: .5em .75em;
    }
  }

  .actions {
    margin: .5em;
  }

  footer {
    bottom: 0;
    position: absolute;
    right: 0;

    button {
      @include buttonize-color($neutral-color);
      @extend .icon-button;
    }
  }
}

.auth-settings {
  .cancel {
    order: 0
  }

  .save {
    order: 1;
  }

  label {
    font-size: 0.8em;
  }
}
