.passcode {
  align-items: center;
  display: flex;
  justify-content: center;

  .container {
    background: $light-color;
    padding: 1em 2em;
  }

  label {
    color: $neutral-color;
    display: block;
    margin-bottom: 0.4em;
  }

  .submit {
    order: 1;
  }

  .cancel {
    order: 0;
  }
}

.passcode-input {
  display: flex;
  justify-content: space-between;
  min-width: 11em;

  input {
    font-size: 1.2em;
    text-align: center;
    width: 1em;
  }
}
