.passcode {
  align-items: center;
  display: flex;
  justify-content: center;

  .container {
    background: $light-color;
    padding: 1em 2em;
  }

  label {
    color: $neutral-color;
    display: block;
    margin-bottom: 0.4em;
  }

  input {
    box-sizing: border-box;
    width: 100%;
  }

  .submit {
    order: 1;
  }

  .cancel {
    order: 0;
  }
}

.passcode-input {
  box-sizing: border-box;
  font-size: 1.2em;
  letter-spacing: 0.4em;
  width: 100%;
}
