.passcode {
  align-items: center;
  display: flex;
  justify-content: center;

  .container {
    background: $light-color;
  }

  fieldset {
    padding: 1em 1em 0.4em;
  }

  label {
    color: $neutral-color;
    display: block;
    margin-bottom: 0.4em;
  }

  button {
    border-radius: 0;
    flex-grow: 1;
    margin: 0;
    white-space: nowrap;
  }

  .submit {
    border-left: solid 1px $light-color;
    order: 1;
  }

  .cancel {
    order: 0;
  }
}

.passcode-input {
  display: flex;
  justify-content: space-between;
  min-width: 11em;

  input {
    font-family: $monospace;
    font-size: 1.2em;
    padding: 0.2em 0.4em;
    text-align: center;
    width: 1em;

    &:focus {
      outline: solid 4px $action-color;
    }
  }
}
