.items {
  .clear-completed {
    display: none;
  }

  &.has-checked-items .clear-completed {
    display: block;
  }
}

.back {
  text-align: left;
  padding-left: 0.8em;
  width: 4em;
}

.edit {
  padding-right: 0.8em;
  right: 0;
  text-align: right;

  span {
    font-size: 0.8em;
  }
}

.no-items {
  color: $neutral-color;
  font-size: 1.2em;
  margin-top: $unit * 2;
  text-align: center;

  i {
    margin-right: 0.4em;
  }
}

.item {
  padding-right: env(safe-area-inset-right);

  &.type-label {
      background-color: #F8F8FF;
  }
  
  &.type-todo {
    &.is-collapsed,
    .toggle-collapsed {
      display: none;
    }
  }
}

.item-container {
  display: block;
  @include options(1);

  .toggle-checked,
  .toggle-collapsed {
    @extend .icon-button;
    left: 0.5em;
    position: absolute;
    top: 0;
  }

  .toggle-checked {
    @include buttonize-color(#b7b7b7);
  }

  .toggle-collapsed {
    @include buttonize-color($primary-color);
    line-height: 3;

    i {
      transition: all 0.25s ease;
    }
  }

  .is-collapsed & .toggle-collapsed i {
    transform: rotate(-90deg);
  }

  .name {
    background: none;
    border: solid transparent 0.2em;
    border-radius: 0;
    box-sizing: border-box;
    display: block;
    height: $unit;
    line-height: 1.5;
    min-height: $unit;
    outline: none;
    padding: 0.4em $unit - 0.2em 0.4em $unit + 0.4em;
    text-overflow: ellipsis;
    transition: all .25s ease;
    width: 100%;

    &:focus {
      border-color: $primary-color;
    }
  }

  .type-label & {
    .toggle-checked {
      display: none;
    }

    .name {
      font-weight: bold;
    }
  }

  .is-checked & {
    .toggle-checked {
      @include buttonize-color($action-color);
    }

    .name {
      color: #979797;
    }
  }
}

.bulk-add {
  .container {
    padding: 0.6em;
  }

  textarea {
    box-sizing: border-box;
    border: solid 1px #c7c7c7;
    color: $dark-color;
    display: block;
    font-size: 0.8em;
    outline: none;
    padding: 0.4em 0.6em;
    width: 100%;

    &:focus {
      outline: solid 3px $primary-color;
    }
  }

  .format {
    @include buttonize-background($primary-color);
  }
}
