.back {
  text-align: left;
  padding-left: 0.8em;
  width: 4em;
}

.edit {
  padding-right: 0.8em;
  right: 0;
  text-align: right;

  .editing & {
    width: auto;
  }

  span {
    font-size: 0.8em;
  }
}

.no-items {
  color: neutral-color;
  font-size: 1.2em;
  margin-top: unit * 2;
  text-align: center;

  i {
    margin-right: 0.4em;
  }
}

.item {
  options(1);

  .toggle-checked {
    buttonize-color(#b7b7b7);
    @extend .icon-button;
    left: 0;
    position: absolute;
    top: 0;
  }

  .name {
    background: none;
    border: solid primary-color 0;
    border-radius: 0;
    box-sizing: border-box;
    display: block;
    height: unit;
    line-height: 1.5;
    min-height: unit;
    outline: none;
    padding: .6em unit;
    text-overflow: ellipsis;
    transition: all .25s ease;
    width: 100%;

    &:focus {
      border-width: .2em;
      padding: .4em (unit + .6em) .4em .6em;
    }
  }

  &.type-label {
    .toggle-checked {
      display: none;
    }

    .name {
      background-color: #F8F8FF;
      font-weight: bold;
      padding-left: .6em;
    }
  }

  .next {
    bottom: 0;
    buttonize-background(success-color);
    @extend .icon-button;
    position: absolute;
    right: -(unit);

    i {
      font-size: 1.2em;
    }
  }

  .editing &,
  &.gu-mirror {
    .toggle-checked {
      left: -(unit);
    }

    .name {
      padding-left: unit;
    }
  }

  &.editing {
    .toggle-checked {
      left: -(unit);
    }

    .name {
      padding-left: .6em;
    }

    .next {
      right: 0;
    }
  }

  &.checked {
    .toggle-checked {
      buttonize-color(action-color);
    }

    .name {
      color: #979797;
    }
  }
}

.gu-hide {
  display: none !important;
}
