.items {
  li {
    options(1);
  }

  .toggle-checked {
    buttonize-color(#b7b7b7);
    @extend .icon-button;
    left: 0;
    position: absolute;
    top: 0;
  }

  .editing .toggle-checked {
    left: -(unit);
  }

  .name {
    background: none;
    border: solid primary-color 0;
    border-radius: 0;
    box-sizing: border-box;
    display: block;
    height: unit;
    line-height: 1.5;
    min-height: unit;
    outline: none;
    padding: .6em unit;
    text-overflow: ellipsis;
    transition: all .25s ease;
    width: 100%;

    &:focus {
      border-width: .2em;
      padding: .4em .6em;
    }
  }

  .checked {
    .toggle-checked {
      buttonize-color(action-color);
    }

    .name {
      color: #979797;
    }
  }
}
