<!DOCTYPE html>
<html lang="en" manifest="appcache.manifest">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" href="favicon.ico" type="image/ico">

  <!-- Hide Safari UI -->
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- Home Screen Icon -->
  <link rel="apple-touch-icon-precomposed" href="apple/app-icon-60.png">
  <link rel="apple-touch-icon-precomposed" href="apple/app-icon-120.png" sizes="120x120">
  <link rel="apple-touch-icon-precomposed" href="apple/app-icon-180.png" sizes="180x180">
  <link rel="apple-touch-icon-precomposed" href="apple/app-icon-76.png"  sizes="76x76">
  <link rel="apple-touch-icon-precomposed" href="apple/app-icon-152.png" sizes="152x152">

  <!-- Splash Screen -->
  <!-- iPhone -->
  <link rel="apple-touch-startup-image" href="apple/startup-image-320x460.png"
    media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)">
  <!-- iPhone (Retina) -->
  <link rel="apple-touch-startup-image" href="apple/startup-image-640x920.png"
    media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)">
  <!-- iPhone 5 -->
  <link rel="apple-touch-startup-image" href="apple/startup-image-640x1096.png"
    media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
  <!-- iPhone 6 -->
  <link rel="apple-touch-startup-image" href="apple/startup-image-750x1294.png"
    media="(device-width: 375px) and (device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)">
  <!-- iPhone 6+ Portrait -->
  <link rel="apple-touch-startup-image" href="apple/startup-image-1242x2148.png"
    media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)">
  <!-- iPhone 6+ Landscape -->
  <link rel="apple-touch-startup-image" href="apple/startup-image-2208x1182.png"
    media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)">
  <!-- iPad (portrait) -->
  <link rel="apple-touch-startup-image" href="apple/startup-image-768x1004.png"
    media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)">
  <!-- iPad (landscape) -->
  <link rel="apple-touch-startup-image" href="apple/startup-image-748x1024.png"
    media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)">
  <!-- iPad (Retina, portrait) -->
  <link rel="apple-touch-startup-image" href="apple/startup-image-1536x2008.png"
    media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)">
  <!-- iPad (Retina, landscape) -->
  <link rel="apple-touch-startup-image" href="apple/startup-image-1496x2048.png"
    media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)">

  <title>ImaList</title>
  {{#each stylesheets}}
    <link rel="stylesheet" href="{{this}}" />
  {{/each}}
</head>
<body>
  <div id="app"></div>

  {{#each scripts}}
    <script src="{{this}}"></script>
  {{/each}}
</body>
</html>
