.login {
  padding-top: $unit;

  .error {
    color: $error-color;
    font-size: .8em;
    margin: 1em .5em;
  }

  fieldset {
    margin: .5em;

    &:first-child {
      margin-top: 1em;
    }
  }

  label {
    display: block;
    margin-bottom: .25em;
  }

  input {
    box-sizing: border-box;
    width: 100%;

    &:focus {
      outline: solid 3px $primary-color;
    }
  }

  > form {
    button,
    span {
      @include buttonize-background($action-color);
      border-radius: 3px;
      color: $light-color;
      float: right;
      margin-top: .5em;
      padding: .5em .75em;
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.settings {
  form {
    display: inline-block;
    opacity: 0.01;
    transition: all 0.5s ease;
  }

  &.showing-settings form {
    opacity: 1.0;
  }

  label {
    color: $dark-color;
    font-size: 0.8em;
  }

  button {
    @include buttonize-color($neutral-color);
    @extend .icon-button;
  }
}
